.appBar .brandButton{
    font-weight: bold;
    font-size: medium;
    color: black
}
.searchBar{
    margin-left: auto;
}

.navBarBox .appBar{
    background-color: #08D9D6;
    color: black 
}
.toolBar{
    display: flex;
    flex-wrap: wrap;
}

.searchInput{
    border-radius: 10px;
    height: 30px;
    
}
.navLink{
   text-decoration: none;
   color: black;
}

.appBar .signInButton{
    margin-right: 15px;
    margin-left: 10px;
    
}
.appBar .signInButton:hover{
    background-color: rgb(162, 0, 255);
    color: black;
}
.appBar .shoppingCartIcon{
    font-size: 30px;
}


@media (max-width:600px){
    .searchBar{
        margin-left: 0px;
        margin-top: 20px;
    }
    .appBar .signInButton{
        margin-bottom: 10px;
        margin-top: 20px;
        margin-right: 10px;
    }
}